img#profile_pic{
    width: 400px;
    height: 300px;
    border-radius: 10px;
}
p{
  font-size: 23px;
  padding: 30px;
}
i{
  margin: 10px;
}
h2{
  margin-left: 60px;
  background: rgb(0, 36, 43);
}
